node_modules
*/node_modules
**/node_modules
dist
*/dist
**/dist
.next
*/.next
**/.next
.git
.gitignore
.env
.env.*
*.log
*.pptx
*.zip
*.xlsx
*.pdf
backend/src/normalization/data/SnomedINTL_GPSRelease_PRODUCTION_20260101T120000Z.txt
backend/src/normalization/data/*.zip
backend/src/normalization/data/*.xlsx
